<div class="form-group">
    <label>{{localize "PF2E.WeaponTypeLabel"}}</label>
    <select name="data.weaponType.value" data-dtype="String">
        {{#select data.weaponType.value}}
            {{#each weaponTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
        {{#select data.weaponType.value}}
            {{#each martialSkills as |martial key|}}
                <option value="{{martial._id}}">{{localize martial.name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.WeaponGroupLabel"}}</label>
    <select name="data.group.value" data-dtype="String">
        {{#select data.group.value}}
            <option value=""></option>
            {{#each weaponGroups as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.WeaponBaseLabel"}}</label>
    <select name="data.baseItem" data-dtype="String">
        {{#select data.baseItem}}
            <option value=""></option>
            {{#each baseWeapons as |name slug|}}
                <option value="{{slug}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#unless isBomb }}
    <ol class="form-list">
        <li class="form-group">
            <label>
                {{localize "PF2E.WeaponMaterialLabel"}}
            </label>
        </li>

        <div class="form-group">
            <label>{{localize "PF2E.PreciousMaterialLabel"}}</label>
            <select name="data.preciousMaterial.value" data-dtype="String">
                {{#select data.preciousMaterial.value}}
                    <option value=""></option>
                    {{#each preciousMaterials as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "PF2E.PreciousMaterialGradeLabel"}}</label>
            <select name="data.preciousMaterialGrade.value" data-dtype="String">
                {{#select data.preciousMaterialGrade.value}}
                    <option value=""></option>
                    {{#each preciousMaterialGrades as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </ol>

    <ol class="form-list">
        <li class="form-group">
            <label>
                {{localize "PF2E.WeaponRunesLabel"}}
            </label>
        </li>

        <div class="form-group">
            <label>{{localize "PF2E.PotencyRuneLabel"}}</label>
            <select name="data.potencyRune.value" data-dtype="Number">
                {{#select data.potencyRune.value}}
                    <option value="0"></option>
                    {{#each weaponPotencyRunes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "PF2E.StrikingRuneLabel"}}</label>
            <select name="data.strikingRune.value" data-dtype="String">
                {{#select data.strikingRune.value}}
                <option value=""></option>
                {{#each weaponStrikingRunes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        {{#if propertyRuneSlots1}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel1"}}</label>
            <select name="data.propertyRune1.value" data-dtype="String">
                {{#select data.propertyRune1.value}}
                <option value=""></option>
                {{#each weaponPropertyRunes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if propertyRuneSlots2}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel2"}}</label>
            <select name="data.propertyRune2.value" data-dtype="String">
                {{#select data.propertyRune2.value}}
                <option value=""></option>
                {{#each weaponPropertyRunes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if propertyRuneSlots3}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel3"}}</label>
            <select name="data.propertyRune3.value" data-dtype="String">
                {{#select data.propertyRune3.value}}
                <option value=""></option>
                {{#each weaponPropertyRunes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if propertyRuneSlots4}}
        <div class="form-group">
            <label>{{localize "PF2E.PropertyRuneLabel4"}}</label>
            <select name="data.propertyRune4.value" data-dtype="String">
                {{#select data.propertyRune4.value}}
                <option value=""></option>
                {{#each weaponPropertyRunes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
    </ol>
{{/unless}}


<ol class="form-list">
    <li class="form-group">
        <label title="{{localize "PF2E.WeaponBaseDamageTitle"}}">
            {{localize "PF2E.WeaponBaseDamageLabel"}}
            <i class="fas fa-info-circle"></i>
        </label>
    </li>

    <div class="form-group">
        <label>{{localize "PF2E.WeaponDamageLabel"}}</label>
        <div class="details-container-three-columns">
            <select name="data.damage.dice" data-dtype="Number">
                {{#select data.damage.dice}}
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.damage.die" data-dtype="String">
                {{#select data.damage.die}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.damage.damageType" data-dtype="String">
                {{#select data.damage.damageType}}
                    {{#each weaponDamage as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{#if isBomb}}
    <div class="form-group">
        <label>{{localize "PF2E.WeaponBonusAttackLabel"}}</label>
        <input type="number" name="data.bonus.value" value="{{data.bonus.value}}" data-dtype="Number"/>
    </div>
    {{/if}}

    <div class="form-group">
      <label>{{localize "PF2E.WeaponSplashDamageLabel"}}</label>
      <input type="number" name="data.splashDamage.value" value="{{data.splashDamage.value}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.WeaponBonusDamageLabel"}}</label>
        <input type="number" name="data.bonusDamage.value" value="{{data.bonusDamage.value}}" data-dtype="Number"/>
    </div>
</ol>

<ol class="form-list">
    <li class="form-group">
        <label title="{{localize "PF2E.WeaponCustomDamageTitle"}}">
            {{localize "PF2E.WeaponCustomDamageLabel"}}
            <i class="fas fa-info-circle"></i>
        </label>
    </li>

    <li class="form-group">
        <label>{{localize "PF2E.ItemDescription"}}</label>
        <input type="text" name="data.property1.value" value="{{data.property1.value}}" data-dtype="String"/>
    </li>

    <li class="form-group">
        <label>{{localize "PF2E.WeaponPropertyStrikeDamageLabel"}}</label>
        <div class="details-container">
            <select name="data.property1.dice" data-dtype="Number">
                {{#select data.property1.dice}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.die" data-dtype="String">
                {{#select data.property1.die}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.damageType" data-dtype="String">
                {{#select data.property1.damageType}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>

    <li class="form-group">
        <label>{{localize "PF2E.WeaponPropertyStrikeEffectLabel"}}</label>
        <div class="effects-container">
            <select name="data.property1.strikeConditionType" data-dtype="String">
                {{#select data.property1.strikeConditionType}}
                    <option value=""></option>
                    {{#each conditionTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.strikeConditionValue" data-dtype="Number">
                {{#select data.property1.strikeConditionValue}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>

    <li class="form-group">
        <label>{{localize "PF2E.WeaponPropertyCriticalDamageLabel"}}</label>
        <div class="details-container">
            <select name="data.property1.critDice" data-dtype="Number">
                {{#select data.property1.critDice}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.critDie" data-dtype="String">
                {{#select data.property1.critDie}}
                    <option value=""></option>
                    {{#each damageDie as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.critDamageType" data-dtype="String">
                {{#select data.property1.critDamageType}}
                    <option value=""></option>
                    {{#each damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>

    <li class="form-group">
        <label>{{localize "PF2E.WeaponPropertyCriticalEffectLabel"}}</label>
        <div class="effects-container">
            <select name="data.property1.criticalConditionType" data-dtype="String">
                {{#select data.property1.criticalConditionType}}
                    <option value=""></option>
                    {{#each conditionTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="data.property1.criticalConditionValue" data-dtype="Number">
                {{#select data.property1.criticalConditionValue}}
                    <option value=""></option>
                    {{#each damageDice as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </li>
</ol>

<div class="form-group">
    <label>{{localize "PF2E.WeaponRangeLabel"}}</label>
    <select name="data.range.value" data-dtype="String">
        {{#select data.range.value}}
            <option value=""></option>
            {{#each weaponRange as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>


<div class="form-group">
    <label>{{localize "PF2E.WeaponReloadLabel"}}</label>
    <select name="data.reload.value" data-dtype="String">
        {{#select data.reload.value}}
            <option value=""></option>
            {{#each weaponReload as |name type|}}
                <option value="{{type}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.WeaponAbilityLabel"}}</label>
    <select name="data.ability.value" data-dtype="String">
        {{#select data.ability.value}}
            {{#each abilities as |ability a|}}
                <option value="{{a}}">{{localize ability}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{localize "PF2E.WeaponMAPLabel"}}</label>
    <select name="data.MAP.value" data-dtype="String">
        {{#select data.MAP.value}}
            <option value="">{{localize "PF2E.WeaponMAPDefaultOption"}}</option>
            {{#each weaponMAP as |name type|}}
                <option value="{{type}}">{{name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked">
    <label>
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="weaponTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each weaponTraits as |trait|}}
            <li class="tag">{{localize trait}}</li>
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ArmorEquippedLabel"}}</label>
    <input type="checkbox" name="data.equipped.value" value="1" data-dtype="Boolean" {{checked data.equipped.value}}/>
</div>
