<div class="pf2e chat-card weapon-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3>{{item.name}}</h3>
    </header>
    {{#if (or data.traits data.properties)}}
        <div class="tags">
            {{#each data.properties as |property|}}
                <span class="tag tag_alt">{{localize property}}</span>
            {{/each}}
            {{#each data.traits as |trait|}}
                {{#unless trait.mystified}}
                    <span class="tag" title="{{localize trait.description}}">{{localize trait.label}}</span>
                {{/unless}}
            {{/each}}
        </div>
    {{/if}}

    <div class="card-content">{{{data.description.value}}}</div>

    <div class="card-buttons">
        <div class="card-buttons-multiattack">
            <button data-action="weaponAttack">{{localize "PF2E.AttackLabel"}}</button>
            <button data-action="weaponAttack2">{{data.map2}}</button>
            <button data-action="weaponAttack3">{{data.map3}}</button>
        </div>
        <div class="card-buttons-two-column">
            <button data-action="weaponDamage">{{localize "PF2E.DamageLabel"}}</button>
            <button data-action="criticalDamage">{{localize "PF2E.CriticalDamageLabel"}}</button>
        </div>
    </div>

    <footer class="card-footer"></footer>
</div>
