<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" title="{{localize "PF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "PF2E.InventroyBrowserSearchHint"}}}
            </div>
            <dl id="sorter">
                <dt>{{localize "PF2E.BrowserSortyByLabel"}}:</dt>
                <dd><select class="null" name="sortorder">
                    <option value="true" selected>{{localize "PF2E.BrowserSortyByNameLabel"}}</option>
                    <option value="false">{{localize "PF2E.BrowserSortyByLevelLabel"}}</option>
                </select></dd>
            </dl>
        </div>
        <button class="clear-filters">{{localize "PF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="itemTypesfilter">
            <h3>{{localize "PF2E.BrowserFilterInventoryTypes"}}</h3>
            <dl>
                {{#each itemTypes as |type key|}}
                    <label><dt><input type="checkbox" name="itemtypes-{{lower key}}"></dt><dd>{{type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="raritiesfilter">
            <h3>{{localize "PF2E.BrowserFilterRarities"}}</h3>
            <dl style="display:none;">
                {{#each rarities as |rarity key|}}
                <label><dt><input type="checkbox" name="rarity-{{lower key}}"></dt><dd>{{localize rarity}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="armorTypefilter">
            <h3>{{localize "PF2E.BrowserFilterArmorFilters"}}</h3>
            <dl style="display:none;">
                {{#each armorTypes as |armorType key|}}
                    <label><dt><input type="checkbox" name="armortype-{{lower key}}"></dt><dd>{{localize armorType}}</dd></label>
                {{/each}}
                {{#each armorGroups as |group key|}}
                    <label><dt><input type="checkbox" name="group-{{lower key}}"></dt><dd>{{localize group}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="weaponTypefilter">
            <h3>{{localize "PF2E.BrowserFilterWeaponFilters"}}</h3>
            <dl style="display:none;">
                {{#each weaponTypes as |weaponType key|}}
                    <label><dt><input type="checkbox" name="weapontype-{{lower key}}"></dt><dd>{{localize weaponType}}</dd></label>
                {{/each}}
                {{#each weaponGroups as |group key|}}
                    <label><dt><input type="checkbox" name="group-{{lower key}}"></dt><dd>{{localize group}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="traitsfilter">
            <h3>{{localize "PF2E.BrowserFilterWeaponTraits"}}</h3>
            <dl style="display:none;">
                {{#each weaponTraits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{lower key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer rangecontainer" id="levelfilter">
          <h3>{{localize "PF2E.BrowserFilterLevels"}}</h3>
          <div style="display:none;">
            <input type="number" name="lowerBound-level" value="0" min="0" max="30">
            -
            <input type="number" name="upperBound-level" value="30" min="0" max="30">
          </div>
        </div>
    </div>
    <ul>
        {{#each inventoryItems as |item id|}}
        <li class="spell flexrow draggable" data-entry-compendium="{{item.compendium}}" data-entry-id="{{item._id}}" data-item-category="inventoryItems"
            {{#each item.data as |attrib id|}}
                data-{{lower id}}="{{lower attrib.value}}"
            {{/each}}
          >
            <div class="spell-image">
                <img class="" src="{{item.img}}" title="{{item.name}}" width="32" height="32" loading="lazy"/>
            </div>
            <div class="spell-name">
                <span class="item-edit" ><a>{{item.name}}</a></span>
            </div>
            <div class="spell-tags">
              <span title="Item Price">
                {{#if (eq item.type 'treasure')}}
                  {{item.data.value.value}} {{item.data.denomination.value}}
                {{else}}
                  {{item.data.price.value}}
                {{/if}}
              </span>
            </div>
            <div class="spell-tags">
                <span title="Item level">{{item.data.level.value}}</span>
            </div>
            <a class="spell-tags take-item" title="{{localize 'PF2E.CompendiumBrowser.TakeLabel'}}">
              <i class="fa fa-share" aria-hidden="true"></i>
            </a>
        </li>
        {{/each}}
    </ul>

</div>
